node_modules
bower_components
pact_tests/spec/
pact_tests/logs/
pact_tests/project/project
pact_tests/project/target
pact_tests/target/
pact_tests/*.txt
pact-consumer-pact-provider.json
hello-consumer-hello-provider.json
tmp

log/
*.log

# samples
example-*/log
example-*/tmp
checkstyle.xml